<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PlusOneBot</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/app-responsive.css">
    <link rel="stylesheet" href="../public/css/lineicons.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
  </head>
  <body style="background:#36393e;">
    <section id="container" class="">
      <header class="header black-bg">
        <a href="" class="logo">PlusOneBot</a>
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li>
              	<a class="btn-top" href="#">pressme</a>
            </li>
            <li>
              	<a class="btn-top" href="#" id="btn_servers">servers</a>
            </li>
            <li>
              <div class="btn-top dropdown">
                <button class="" type="button" data-toggle="dropdown">&#x3C;username&#x3E;
                <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu">
                    <li class="disabled">
                      <a href="">something</a>
                    </li>
                    <li class="disabled">
                      <a href="">another thing</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="">sign out</a>
                    </li>
                  </ul>
                </div>
            </li>
          </ul>
        </div>
      </header>
      <aside>
        <div id="sidebar" class="nav-collapse " style="overflow: hidden; outline: none;" tabindex="5000">
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
              <a href="#">
                <img id="client-avatar" src="../assets/img/plusone_logo2.png" width="100px">
              </a>
            </p>
            <li class="mt">
              <a class="active" href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>dashboard</span>
              </a>
            </li>
            <li class="sub-menu dcjq-parent-li">
              <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-desktop"></i>
                <span>plugins</span>
              <span class="dcjq-icon"></span></a>
            </li>
            <li class="sub-menu dcjq-parent-li">
              <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-cogs"></i>
                <span>settings</span>
              <span class="dcjq-icon"></span></a>
            </li>
          </ul>
        </div>
      </aside>
      <section id="main-content">
        <section class="wrapper">
					<div class="col-md-9">
						<div class="log-messages">
						</div>
						<!-- <h1 class="text-danger" style="font-family:monospace!important;">DEBUG</h1> -->
						<!-- <pre id="debug" style="background:transparent;border:none;color:#fff;font-family:monospace;font-size:18px;"></pre> -->
					</div>
          <div class="row">
	          <div class="col-lg-3 ds pull-right">
	            <h3>NOTIFICATIONS</h3>
	            <div class="desc">
	              <div class="thumb">
	                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	              </div>
	              <div class="details">
	                <p><muted>2 Minutes Ago</muted><br>
	                   <a href="#">James Brown</a> subscribed to your newsletter.<br>
	                </p>
	              </div>
	            </div>
	            <div class="desc">
	              <div class="thumb">
	                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	              </div>
	              <div class="details">
	                <p><muted>3 Hours Ago</muted><br>
	                   <a href="#">Diana Kennedy</a> purchased a year subscription.<br>
	                </p>
	              </div>
	            </div>
	            <div class="desc">
	              <div class="thumb">
	                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	              </div>
	              <div class="details">
	                <p><muted>7 Hours Ago</muted><br>
	                   <a href="#">Brandon Page</a> purchased a year subscription.<br>
	                </p>
	              </div>
	            </div>
	            <div class="desc">
	              <div class="thumb">
	                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	              </div>
	              <div class="details">
	                <p><muted>11 Hours Ago</muted><br>
	                   <a href="#">Mark Twain</a> commented your post.<br>
	                </p>
	              </div>
	            </div>
	            <div class="desc">
	              <div class="thumb">
	                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	              </div>
	              <div class="details">
	                <p><muted>18 Hours Ago</muted><br>
	                   <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br>
	                </p>
	              </div>
	            </div>
  						<h3>TEAM MEMBERS</h3>
              <div class="desc">
                <div class="thumb">
                  <img class="img-circle" src="../assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                  <p><a href="#">DIVYA MANIAN</a><br>
                 		<muted>Available</muted>
                  </p>
                </div>
              </div>
              <div class="desc">
                <div class="thumb">
                	<img class="img-circle" src="../assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                	<p><a href="#">DJ SHERMAN</a><br>
                  	<muted>I am Busy</muted>
                  </p>
                </div>
              </div>
              <div class="desc">
                <div class="thumb">
                  <img class="img-circle" src="../assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                  <p><a href="#">DAN ROGERS</a><br>
                     <muted>Available</muted>
                  </p>
                </div>
              </div>
              <div class="desc">
                <div class="thumb">
                  <img class="img-circle" src="../assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                  <p><a href="#">Zac Sniders</a><br>
                     <muted>Available</muted>
                  </p>
                </div>
              </div>
              <div class="desc">
                <div class="thumb">
                  <img class="img-circle" src="../assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                </div>
                <div class="details">
                  <p><a href="#">Marcel Newman</a><br>
                     <muted>Available</muted>
                  </p>
                </div>
              </div>
            </div>
          </div>
      	</section>
  		</section>
		</section>
		<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../public/js/Chart.js"></script>
		<script src="../public/js/jquery.nicescroll.js"></script>
		<script src="../public/js/jquery.scrollTo.min.js"></script>
		<script src="../public/js/common-scripts.js"></script>
		<script src="../public/js/jquery.timeago.js"></script>
		<script src="../public/js/app.js"></script>
	</body>
</html>
